<% provide(:title, 'Editing Staff') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<h1>Editing Staff</h1>

<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user_attributes, @staff.user do |ff| %>
  <div class="field">
      <%= ff.label :role %><br />
      <%= ff.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
<%= hidden_field_tag "staff[client_ids][]", nil %>
<% Client.all.each do |client| %>
  <%= check_box_tag "staff[client_ids][]", client.id, @staff.client_ids.include?(client.id), id: dom_id(client) %>
  <%= label_tag dom_id(client), client.full_name %><br>
<% end %>
<br>
  <div class="actions">
    <%= f.submit 'Edit Staff' %>
  </div>
<% end %>

<%= link_to 'Show', @staff %> |
<%= link_to 'Back', staffs_path %>
