<p id="notice"><%= notice %></p>

<h1>Listing Staffs</h1>
<p><%= link_to 'New Staff', new_staff_path, class: 'btn btn-success', :role => 'button' %></p>
<div id="no-more-tables">
<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Postion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td data-title="Name"><%= staff.full_name %></td>
        <td data-title="Email"><%= staff.user.email %></td>
        <td data-title="Role"><%= staff.user.role.humanize %></td>
        <td data-title="Position"><%= staff.position %></td>
        <td data-title="Show"><%= link_to 'Show', staff %></td>
        <td data-title="Edit"><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td data-title="Delete"><%= link_to 'Delete', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
