<% provide(:title, 'My Profile') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm page-profile animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<div class="profile-full-name"> <span class="text-semibold"><%= @staff.full_name %></span>'s profile </div>
<div class="profile-row">
  <div class="left-col">
    <div class="profile-block">
      <div class="panel profile-photo"> <%= image_tag("http://gravatar.com/avatar/"+ Digest::MD5.hexdigest(current_user.email.downcase)+"?s=160", class: "rounded") %></div>
      <br>
      <a href="#" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;&nbsp;Following</a>&nbsp;&nbsp; <a href="#" class="btn"><i class="fa fa-comment"></i></a> </div>
    <div class="panel panel-transparent">
      <div class="panel-heading"> <span class="panel-title">About me</span> </div>
      <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <a href="#">dolore magna</a> aliqua. </div>
    </div>
    <div class="panel panel-transparent">
      <div class="panel-heading"> <span class="panel-title">Statistics</span> </div>
      <div class="list-group"> <a href="#" class="list-group-item"><strong>126</strong> Likes</a> <a href="#" class="list-group-item"><strong>579</strong> Followers</a> <a href="#" class="list-group-item"><strong>100</strong> Following</a> </div>
    </div>
    <div class="panel panel-transparent profile-skills">
      <div class="panel-heading"> <span class="panel-title">Skills</span> </div>
      <div class="panel-body"> <span class="label label-primary">UI/UX</span> <span class="label label-primary">Web design</span> <span class="label label-primary">Photoshop</span> <span class="label label-primary">HTML</span> <span class="label label-primary">CSS</span> </div>
    </div>
    <div class="panel panel-transparent">
      <div class="panel-heading"> <span class="panel-title">Social</span> </div>
      <div class="list-group"> <a href="#" class="list-group-item"><i class="profile-list-icon fa fa-twitter" style="color: #4ab6d5"></i> @dsteiner</a> <a href="#" class="list-group-item"><i class="profile-list-icon fa fa-facebook-square" style="color: #1a7ab9"></i> Denise Steiner</a> <a href="#" class="list-group-item"><i class="profile-list-icon fa fa-envelope" style="color: #888"></i> dsteiner@example.com</a> </div>
    </div>
  </div>
  <div class="right-col">
	<hr class="profile-content-hr no-grid-gutter-h">
<div class="profile-content">
					<ul id="profile-tabs" class="nav nav-tabs">
						<li class="active">
							<a href="#profile-tabs-board" data-toggle="tab">Profile</a>
						</li>
						<li>
							<a href="#profile-tabs-activity" data-toggle="tab">Timeline</a>
						</li>
						<li>
							<a href="#profile-tabs-followers" data-toggle="tab">Followers</a>
						</li>
						<li>
							<a href="#profile-tabs-following" data-toggle="tab">Following</a>
						</li>
					</ul>
<div class="tab-content tab-content-bordered panel-padding">
	<div class="widget-article-comments tab-pane panel no-padding no-border fade" id="profile-tabs-board">
<div class="panel colourable">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<span class="panel-title">Client</span>
					</div>

					<!-- Table -->
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Business Name</th>
							</tr>
						</thead>
						<tbody>
						<% @staff.clients.each do |client| %>
						<tr>
								<td><%= client.id %></td>
								<td><%= client.full_name %></td>
								<td><%= client.business_name %></td>
						</tr>
						<% end %>
						</tbody>
					</table>
				</div>
	</div>
	<div id="profile-tabs-activity" class="tab-pane fade panel ">
		dnsoje
	</div>
	<div id="profile-tabs-followers" class="tab-pane fade panel widget-followers">
		np[efn]
	</div>
	<div id="profile-tabs-following" class="tab-pane fade panel widget-followers">
		jeo dioe
	</div>
</div>
</div>
  </div>
</div>
