<% provide(:title, 'Sign In') %>
<% content_for :body_class, 'theme-silver page-signin' %>
<script>
  var init = [];
  init.push(function () {
    var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
        bgs  = [ 'assets/demo/signin-bg-1.jpg', 'assets/demo/signin-bg-2.jpg', 'assets/demo/signin-bg-3.jpg',
             'assets/demo/signin-bg-4.jpg', 'assets/demo/signin-bg-5.jpg', 'assets/demo/signin-bg-6.jpg',
           'assets/demo/signin-bg-7.jpg', 'assets/demo/signin-bg-8.jpg', 'assets/demo/signin-bg-9.jpg' ];
    for (var i=0, l=bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
    $div.find('img').click(function () {
      var img = new Image();
      img.onload = function () {
        $('#page-signin-bg > img').attr('src', img.src);
        $(window).resize();
      }
      img.src = $(this).attr('src');
    });
    $('body').append($div);
  });
</script>
<div id="page-signin-bg">
<div class="overlay"></div>
<%= image_tag 'signin-bg-2.jpg', :alt => 'Sign In Bg' %>
</div>
<!-- Container -->
  <div class="signin-container">
    <!-- Right side -->
    <div class="signin-form">

      <!-- Form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'signin-form_id') do |f| %>
      <form action="index.html" id="signin-form_id">
        <div class="signin-text">
          <span>Sign In to your account</span>
        </div> <!-- / .signin-text -->

        <div class="form-group w-icon">
          <%= f.email_field :email, autofocus: true, id: 'username_id', class: 'form-control input-lg', placeholder: 'Username or email' %>
          <span class="fa fa-user signin-form-icon"></span>
          
        </div> <!-- / Username -->

        <div class="form-group w-icon">
          <%= f.password_field :password, autocomplete: "off", id: 'password_id', class: 'form-control input-lg', placeholder: 'Password' %>
          <span class="fa fa-lock signin-form-icon"></span>
        </div> <!-- / Password -->
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="form-actions">
          <%=f.submit 'SIGN IN', class: 'signin-btn bg-primary' %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), id: 'forgot-password-link', class: 'forgot-password' %><br />
          <% end -%>
        </div> <!-- / .form-actions -->
      <% end %>
      <!-- / Form -->

      <!-- "Sign In with" block -->
      <div class="signin-with">
        <!-- Facebook -->
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'signin-with-btn', style: 'background:#4f6faa;background:rgba(79, 111, 170, .8);' %><br />
        <% end -%>
      </div>
      <!-- / "Sign In with" block -->

      <!-- Password reset form -->
      <div class="password-reset-form" id="password-reset-form">
        <div class="header">
          <div class="signin-text">
            <span>Password reset</span>
            <div class="close">&times;</div>
          </div> <!-- / .signin-text -->
        </div> <!-- / .header -->
        
        <!-- Form -->
        <form action="index.html" id="password-reset-form_id">
          <div class="form-group w-icon">
            <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
            <span class="fa fa-envelope signin-form-icon"></span>
          </div> <!-- / Email -->

          <div class="form-actions">
            <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
          </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->
      </div>
      <!-- / Password reset form -->
    </div>
    <!-- Right side -->
  </div>
  <!-- / Container -->
<script type="text/javascript">
  // Resize BG
  init.push(function () {
    var $ph  = $('#page-signin-bg'),
        $img = $ph.find('> img');

    $(window).on('resize', function () {
      $img.attr('style', '');
      if ($img.height() < $ph.height()) {
        $img.css({
          height: '100%',
          width: 'auto'
        });
      }
    });
  });

  // Show/Hide password reset form on click
  init.push(function () {
    $('#forgot-password-link').click(function () {
      $('#password-reset-form').fadeIn(400);
      return false;
    });
    $('#password-reset-form .close').click(function () {
      $('#password-reset-form').fadeOut(400);
      return false;
    });
  });

  // Setup Sign In form validation
  init.push(function () {
    $("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
    
    // Validate username
    $("#username_id").rules("add", {
      required: true,
      minlength: 3
    });

    // Validate password
    $("#password_id").rules("add", {
      required: true,
      minlength: 6
    });
  });

  // Setup Password Reset form validation
  init.push(function () {
    $("#password-reset-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });
    
    // Validate email
    $("#p_email_id").rules("add", {
      required: true,
      email: true
    });
  });

  window.PixelAdmin.start(init);
</script>