<% provide(:title, 'Users') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<p id="notice"><%= notice %></p>
<h1>All Staffs </h1>
<h3> Total Hrs: <%= @hr_min %></h3>
<p><%= link_to 'New Staff', new_staff_path, class: 'btn btn-success', :role => 'button' %></p>
<div class="panel panel-dark panel-light-green table-light">
  <div class="panel-heading"><span class="panel-title">All Staffs</span></div>
<table class="table table-bordered">
  <thead class="cf">
    <tr>
      <th rowspan="2">Full name</th>
      <th rowspan="2">Email</th>
      <th rowspan="2">Role</th>
      <th rowspan="2">Number of client</th>
      <th rowspan="2">Postion</th>
      <th colspan="4">Total work hour</th>
      <th colspan="3" rowspan="2"></th>
    </tr>
    <tr>
      <th>Today</th>
      <th>Week</th>
      <th>Month</th>
      <th>All Time</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td data-title="Name"><%= staff.full_name %></td>
        <td data-title="Email"><%= staff.user.email %></td>
        <td data-title="Role"><%= staff.user.role.humanize %></td>
        <td data-title="Role"><%= staff.clients.count %></td>
        <td data-title="Position"><%= staff.position %></td>
        <td data-title="Number of hrs today"></td>
        <td data-title="Number of hours this week"></td>
        <td data-title="Number of hours this month"></td>
        <td data-title="All time Number of hrs">
          <%= hr_min_value = staff.user.task_logs.sum(:total_hrs) %>
        </td>
        <td data-title="Show"><%= link_to 'Show', staff %></td>
        <td data-title="Edit"><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td data-title="Delete"><%= link_to 'Delete', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h1>All Clients</h1>
<p><%= link_to 'New Client', new_client_path, class: 'btn btn-success', :role => 'button' %></p>
<div class="panel panel-dark panel-light-green table-light">
  <div class="panel-heading"><span class="panel-title">All Staffs</span></div>
<table class="table table-bordered">
  <thead class="cf">
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Number of staff</th>
      <th>Business Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td data-title="Name"><%= client.full_name %></td>
        <td data-title="Email"><%= client.user.email %></td>

        <td data-title="Role"><%= client.user.role.humanize %> </td>
        <td data-title="Role"><%= client.staffs.count %></td>
        <td data-title="Business Name"><%= client.business_name %></td>
        <td data-title="Show"><%= link_to 'Show', client %></td>
        <td data-title="Edit"><%= link_to 'Edit', edit_client_path(client) %></td>
        <td data-title="Delete"><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


