<% provide(:title, 'Edit Client') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %><h1>Editing Client</h1>

<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user_attributes, @client.user do |ff| %>
  <div class="field">
      <%= ff.label :role %><br />
      <%= ff.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>
  <% end %>


  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
<%= hidden_field_tag "client[staff_ids][]", nil %>
<% Staff.all.each do |staff| %>
<%= check_box_tag "client[staff_ids][]", staff.id, @client.staff_ids.include?(staff.id), id: dom_id(staff) %>
<%= label_tag dom_id(staff), staff.full_name %><br>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit 'Edit Client' %>
  </div>
<% end %>


<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
