<% provide(:title, 'Client') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<h1>Listing Clients</h1>

<div id="no-more-tables">
<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Business Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td data-title="Name"><%= client.full_name %></td>
        <td data-title="Email"><%= client.user.email %></td>

        <td data-title="Role"><%= client.user.role.humanize %> </td>
        <td data-title="Business Name"><%= client.business_name %></td>
        <td data-title="Show"><%= link_to 'Show', client %></td>
        <td data-title="Edit"><%= link_to 'Edit', edit_client_path(client) %></td>
        <td data-title="Delete"><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Client', new_client_path %>
