<% provide(:title, 'Add Client') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<div class="panel form-horizontal">
<div class="panel-heading">
            <span class="panel-title">Add Client</span>
</div>
<%= form_for(@client) do |f| %>
<div class="panel-body">
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user_attributes, @client.user||User.new do |ff| %>
    <div class="form-group">
      <%= ff.label :role, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= ff.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, :class => 'form-control form-group-margin') %>
      </div>
  </div>
    <div class="form-group">
    <%= ff.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= ff.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>
    </div>
    <div class="form-group">
      <%= ff.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= ff.text_field :password, class: "form-control", placeholder: "Password" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :full_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :business_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :business_name, class: "form-control", placeholder: "Business Name" %>
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Client', class: "btn btn-primary"  %>
  </div>
</div>
<% end %>
</div>