<% provide(:title, 'Client') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>

<p>
  <strong>Full name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Postion:</strong>
  <%= @client.business_name %>
</p>
<b>Staff:</b>
<ul>
  <% @client.staffs.each do |staff| %>
    <li><%= staff.full_name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
