/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#main-navbar {
  .navbar-brand {
   
    font-size: 13px;
    @include opacity(1);
    @include transition(all .2s);

    &:hover {
      @include opacity(.8);
    }

    div {
      display: inline-block;
      position: relative;
      margin-right: 4px;
      top: 4px;

      &, img {
        height: 18px;
        width: 18px;
      }

      img {
        display: block;
      }
    }
  }
}

.right-to-left {
  #main-navbar {
    .navbar-brand div {
      margin-right: 0;
      margin-left: 4px;
    }
  }
}

// Menu content-block example
//

#menu-content-demo {
  white-space: nowrap !important;
  position: relative;
  padding-left: 86px !important;

  img {
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    left: -68px;
    top: 1px;
    border-radius: 999999px;
  }

  .text-bg {
    color: #fff;
    margin-bottom: 6px;
  }

  .btn {
    width: 26px !important;
    height: 22px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    display: inline-block !important;
    opacity: .8;
    @include transition(all .1s);

    &:hover {
      opacity: 1;
    }
  }

  & > div {
    margin: 6px 0;
    position: relative;
  }

  .close {
    position: absolute;
    top: -15px;
    right: -5px;
    text-shadow: none;
    color: #fff;
    color: rgba(255,255,255,.2);
    opacity: 1;
    font-weight: 300;
    font-size: 18px;
    @include transition(all .2s);

    &:hover {
      color: #fff;
    }
  }
}

.theme-clean #menu-content-demo,
.theme-white #menu-content-demo {
  .text-bg {
    color: #444;
  }
  
  .close {
    color: #ccc;

    &:hover {
      color: #888;
    }
  }
}

.right-to-left {
  #menu-content-demo {
    padding-left: 20px !important;
    padding-right: 86px !important;

    img {
      left: auto;
      right: -68px;
    }

    .close {
      left: -20px;
      right: auto;
    }
  }
}

@media (min-width: 120px) {
  #menu-content-demo > div {
    width: 120px;
  }

  #menu-content-demo .close {
    right: -20px;
  }
}
