<%= form_for(@task_log) do |f| %>
<div class="panel-body">
  <% if @task_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_log.errors.count, "error") %> prohibited this task_log from being saved:</h2>
      <ul>
      <% @task_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :client, class: "col-sm-2 control-label" %>
  <div class="col-sm-10 ">
  <%= f.collection_select :client_id, Employment.where(staff_id: current_user.meta.id), :client_id, :get_client_name, {prompt: 'Select A Client'}, :class => 'form-control form-group-margin' %>
   </div>
  </div>
 <div class="form-group">
    <%= f.label :task_title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 ">
    <%= f.text_field :task_title, class: "form-control", placeholder: "Task Title" %>
     </div>
  </div>
<div class="form-group">
    <%= f.label :starting_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 ">
    <%= f.time_select :starting_time,  {ampm: true} %>
     </div>
  </div>
<div class="form-group">
    <%= f.label :ending_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10 ">
    <%= f.time_select :ending_time, {ampm: true} %>
     </div>
  </div>
  <%= f.hidden_field :total_hrs, :value => "" %>
  <%= f.hidden_field :staff_id, :value => current_user.meta.id %>
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit value: "Add Task", class: "btn btn-primary" %>
  </div>
</div>
<% end %>