<% provide(:title, 'Add Task') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<div class="panel form-horizontal">
<div class="panel-heading">
    <span class="panel-title">Add New Task Log</span>
</div>
<%= render 'form' %>
