<% provide(:title, 'Task Log Calendar') %>
<% content_for :body_class, 'theme-silver main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<p>
  <strong>Task title:</strong>
  <%= @task_log.task_title %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @task_log.starting_time.strftime("%r") %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @task_log.ending_time.strftime("%r") %>
</p>

<p>
  <strong>Tota Time:</strong>
  <%= @task_log.sum_of_hrs %>
</p>

<%= link_to 'Edit', edit_task_log_path(@task_log) %> |
<%= link_to 'Back', task_logs_path %>
