<% if user_signed_in? %>
<div id="main-navbar" class="navbar navbar-inverse" role="navigation"> 
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
    <div class="navbar-inner"> 
      <!-- Main navbar header -->
      <div class="navbar-header"> 
        
        <!-- Logo --> 
        <a href="index.html" class="navbar-brand">
        <div><%= image_tag("pixel-admin/main-navbar-logo.png", alt: "BossDash") %></div>
        BossDash </a> 
        
        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
      </div>
      <!-- / .navbar-header -->
      
      <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
        <div>
          <div class="right clearfix">
            <ul class="nav navbar-nav pull-right right-navbar-nav">
              <li class="dropdown"> <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown"> <%= gravatar_for @user, size: 26 %> <span><%= current_user.meta.full_name %></span> </a>
                <ul class="dropdown-menu">
                  <li><%= link_to myprofile_path do %> Profile <% end %></li>
                  <li><a href="#"><span class="badge badge-primary pull-right">New</span>Account</a></li>
                  <li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
                  <li class="divider"></li>
                  <li><%= link_to destroy_user_session_path, method: :delete do %><i class="dropdown-icon fa fa-power-off"></i> Log Out <% end %></li>
                </ul>
              </li>
            </ul>
            <!-- / .navbar-nav --> 
          </div>
          <!-- / .right --> 
        </div>
      </div>
      <!-- / #main-navbar-collapse --> 
    </div>
    <!-- / .navbar-inner --> 
  </div>
  <!-- / #main-navbar -->
  <% end %>